<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh-Hant</string>
	<key>CFBundleDisplayName</key>
	<string>好孕日記</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh-Hant</string>
		<string>en</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>ClinicDisplayName</key>
	<string>好孕台中診所</string>
	<key>ClinicLineOAID</key>
	<string>@haoyunclinic</string>
	<key>ClinicWebBookingURL</key>
	<string>https://haoyun.example.tw/booking</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>line</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSUserNotificationsUsageDescription</key>
	<string>用來提醒您按時施打排卵針與回診。</string>
	<key>SubsidyRulesVersion</key>
	<string>2026-04</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
